[defaults]
inventory = inventory/hosts.yaml
host_key_checking = false
interpreter_python = auto_silent
remote_user = ansible

# Use YAML for stdout output of ansible-playbooks
callback_result_format = yaml

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml